.tableCart {
  width: 80%;
  overflow: scroll;
  position: relative;
  margin: auto auto;

  .tableRow {
    height: 90px;
  }

  .title {
    display: flex;
    align-items: center;
    .img {
      min-width: 60px;
      max-width: 60px;
      float: left;
      margin-right: 20px;
    }
  }

  .quantity {
    text-align: center;
    width: 50px;
  }
  .trashIcon {
    font-size: 24px;
    :hover {
      cursor: pointer;
      color: #d35e5e;
    }
  }
  .totalPrice {
    font-size: 30px;
    font-weight: 600;
  }
}
