.header{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    top: 0;
}

.filterList{
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.cartIcon{
    font-size: 24px;
    cursor: pointer;
    span{
        font-size: 16px;
        margin-left: 4px;
    }
}